
 
 
<link rel="stylesheet" href="/static/nihongdengxia/css/comments.css" />
<style>
    #pinglun {
        margin: 0 0 1.5em 0;
        padding: 1em 1.5em;
        background: #fff;
        box-shadow: 0 0 4px #ddd;
        border: 1px solid #ddd;
    }
</style>
<div id="respond" class="comment-respond" style="margin-bottom: 20px;">
    <h3 id="reply-title" class="comment-reply-title">
        评论
    </h3>
</div>
<div id="pinglun">
    <ul>

        <li class="comment-item" data-cid="2582997156">
        <div class="avatar">
            <a title="鳜膛弃" href="https://www.douban.com/people/greattouch/">
            <img src="https://img2.doubanio.com/icon/u1328639-23.jpg">
            </a>
        </div>
        <div class="comment">
            <h3>
            <span class="comment-vote">
                <span id="c-2582997156" class="vote-count">2</span>
                <a href="javascript:;" id="btn-2582997156" class="j a_show_login" data-cid="2582997156">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/greattouch/">鳜膛弃</a>
                <span class="user-stars allstar50 rating" title="力荐"></span>
                <span class="comment-time">2020-10-30</span>
            </span>
            </h3>
            <p class="comment-content">

            <span
                class="short">写得好！我小说读得少，除了博尔赫斯，孔亚雷是第二个纯粹用脑子就能把我感动的作家。“我希望他（上帝）是一个比我更好的小说家”，这句真的让我动容了。小说结尾出现的孔夫子网，是一个非常妙的呼应，而这一次，他没有去强调这一点。</span>
            </p>
        </div>
        </li>


        <li class="comment-item" data-cid="2587233908">
        <div class="avatar">
            <a title="Clee" href="https://www.douban.com/people/142033765/">
            <img src="https://img1.doubanio.com/icon/u142033765-7.jpg">
            </a>
        </div>
        <div class="comment">
            <h3>
            <span class="comment-vote">
                <span id="c-2587233908" class="vote-count">1</span>
                <a href="javascript:;" id="btn-2587233908" class="j a_show_login" data-cid="2587233908">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/142033765/">Clee</a>
                <span class="user-stars allstar40 rating" title="推荐"></span>
                <span class="comment-time">2020-11-03</span>
            </span>
            </h3>
            <p class="comment-content">

            <span
                class="short">虽然作者试图说明自己和元小说的区别，但不得不说我还是觉得这是一部很元小说的小说。小说里的作者K近乎坦诚地展现了《李美真》的创作过程，于是有了一部在我看来并不那么真诚的《李美真》。作者感兴趣的是历史与虚构、小说与现实的问题，或者说，从摄影到小说等一系列arts对写作者现实生活的侵入；读者手上的这本《李美真》也确实达到了这一目的，但好像也就仅限于此了，也因此让我觉得这看似结构精巧又知识性的写作有些遗憾。（或许可以和Sebald的《土星之环》做个比较）</span>
            </p>
        </div>
        </li>


        <li class="comment-item" data-cid="2586117045">
        <div class="avatar">
            <a title="云淡风不清" href="https://www.douban.com/people/rodenny/">
            <img src="https://img2.doubanio.com/icon/u1414911-2.jpg">
            </a>
        </div>
        <div class="comment">
            <h3>
            <span class="comment-vote">
                <span id="c-2586117045" class="vote-count">1</span>
                <a href="javascript:;" id="btn-2586117045" class="j a_show_login" data-cid="2586117045">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/rodenny/">云淡风不清</a>
                <span class="user-stars allstar40 rating" title="推荐"></span>
                <span class="comment-time">2020-11-02</span>
            </span>
            </h3>
            <p class="comment-content">

            <span
                class="short">严重碎片化的生活，注意力变成最稀缺的东西，长篇小说也因此变成阅读清单上最难完成的一个类别。可这个文本仿佛具有某种神秘的力量，循着李美真若隐若现的背影一不小心就身陷时空的迷宫，可又完全不想抽身而出——这个一百多年前的斜眼神婆命运到底如何；那个就生活在我身边，2012年身陷创作瓶颈的小说家该怎么完成这个故事。是沉迷：想要暂时，哪怕只是几个小时，到120年前的1900待一会儿，那些被历史著作大书特书的关键性时刻，怎样都想去体会一下；更是好奇：作家笔记本上只有自己能认出的只言片语，那些知识、经验，念头、情绪，怎么长成了一个个眉目清晰的人，自主呼吸，开口说话……</span>
            </p>
        </div>
        </li>


        <li class="comment-item" data-cid="2586987473">
        <div class="avatar">
            <a title="努力加餐饭" href="https://www.douban.com/people/115606007/">
            <img src="static/picture/u115606007-1.jpg">
            </a>
        </div>
        <div class="comment">
            <h3>
            <span class="comment-vote">
                <span id="c-2586987473" class="vote-count">1</span>
                <a href="javascript:;" id="btn-2586987473" class="j a_show_login" data-cid="2586987473">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/115606007/">努力加餐饭</a>
                <span class="user-stars allstar50 rating" title="力荐"></span>
                <span class="comment-time">2020-11-03</span>
            </span>
            </h3>
            <p class="comment-content">

            <span class="short">太牛逼了孔老师！今年最好看的小说。</span>
            </p>
        </div>
        </li>


        <li class="comment-item" data-cid="2584246108">
        <div class="avatar">
            <a title="titivillus" href="https://www.douban.com/people/titivillus/">
            <img src="static/picture/u1026502-40.jpg">
            </a>
        </div>
        <div class="comment">
            <h3>
            <span class="comment-vote">
                <span id="c-2584246108" class="vote-count">0</span>
                <a href="javascript:;" id="btn-2584246108" class="j a_show_login" data-cid="2584246108">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/titivillus/">titivillus</a>
                <span class="user-stars allstar50 rating" title="力荐"></span>
                <span class="comment-time">2020-10-31</span>
            </span>
            </h3>
            <p class="comment-content">

            <span class="short">一部致幻之书……</span>
            </p>
        </div>
        </li>


        <li class="comment-item" data-cid="2595363409">
        <div class="avatar">
            <a title="Ashen" href="https://www.douban.com/people/63357626/">
            <img src="static/picture/u63357626-7.jpg">
            </a>
        </div>
        <div class="comment">
            <h3>
            <span class="comment-vote">
                <span id="c-2595363409" class="vote-count">0</span>
                <a href="javascript:;" id="btn-2595363409" class="j a_show_login" data-cid="2595363409">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/63357626/">Ashen</a>
                <span class="user-stars allstar50 rating" title="力荐"></span>
                <span class="comment-time">2020-11-10</span>
            </span>
            </h3>
            <p class="comment-content">

            <span
                class="short">阅读过程中总是回想起儿时读王泽《老夫子》的画面，那种西装革履和长袍马褂置于同场带来的冲击感。前半本读起来像是福尔斯的《巫术师》，故事中弥漫着一层层迷雾，后面越来越像是读鲁迅《故事新编》，叙述已经跳出小说，跳出单一文体的限制。</span>
            </p>
        </div>
        </li>


        <li class="comment-item" data-cid="2587595115">
        <div class="avatar">
            <a title="CYQ" href="https://www.douban.com/people/68261586/">
            <img src="static/picture/u68261586-16.jpg">
            </a>
        </div>
        <div class="comment">
            <h3>
            <span class="comment-vote">
                <span id="c-2587595115" class="vote-count">1</span>
                <a href="javascript:;" id="btn-2587595115" class="j a_show_login" data-cid="2587595115">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/68261586/">CYQ</a>
                <span class="user-stars allstar30 rating" title="还行"></span>
                <span class="comment-time">2020-11-12</span>
            </span>
            </h3>
            <p class="comment-content">

            <span class="short">万事万物被他的无知和平庸联系在了一起，中国当代文学mindfuck又一例。</span>
            </p>
        </div>
        </li>


        <li class="comment-item" data-cid="2580065312">
        <div class="avatar">
            <a title="楞次" href="https://www.douban.com/people/131755089/">
            <img src="static/picture/u131755089-1.jpg">
            </a>
        </div>
        <div class="comment">
            <h3>
            <span class="comment-vote">
                <span id="c-2580065312" class="vote-count">2</span>
                <a href="javascript:;" id="btn-2580065312" class="j a_show_login" data-cid="2580065312">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/131755089/">楞次</a>
                <span class="user-stars allstar50 rating" title="力荐"></span>
                <span class="comment-time">2020-10-27</span>
            </span>
            </h3>
            <p class="comment-content">

            <span class="short">用一种知识分子跳大神的方式解构“满纸荒唐言，一把辛酸泪”那档子事。</span>
            </p>
        </div>
        </li>


        <li class="comment-item" data-cid="2590254779">
        <div class="avatar">
            <a title="吴岩" href="https://www.douban.com/people/144058710/">
            <img src="static/picture/u144058710-3.jpg">
            </a>
        </div>
        <div class="comment">
            <h3>
            <span class="comment-vote">
                <span id="c-2590254779" class="vote-count">0</span>
                <a href="javascript:;" id="btn-2590254779" class="j a_show_login" data-cid="2590254779">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/144058710/">吴岩</a>
                <span class="user-stars allstar20 rating" title="较差"></span>
                <span class="comment-time">2020-11-06</span>
            </span>
            </h3>
            <p class="comment-content">

            <span class="short">很不喜欢，刻意拼凑的情节，看睡了无数次</span>
            </p>
        </div>
        </li>

    </ul>
    <div class="paginator-wrapper">

        <div id="paginator" class="center" data-total="9">
          <span class="first" data-page='first'>
            << 首页</span>
              <span class="prev" data-page='prev'>
                < 上一页</span>
                  <span class="next" data-page='next'>下一页 ></span>
        </div>

      </div>
</div>
<div id="respond" class="comment-respond">
    <h3 id="reply-title" class="comment-reply-title">
        发表评论 
        <small>
            <a rel="nofollow" id="cancel-comment-reply-link" href="/24567/#respond" style="display:none;">取消回复</a>
        </small>
    </h3>
    
    <form action="https://www.mtyyw.com/wp-comments-post.php" method="post" id="commentform" class="comment-form">
        <p class="comment-notes"><span id="email-notes">电子邮件地址不会被公开。</span> 必填项已用<span class="required">*</span>标注</p>
        <p class="comment-form-comment">
            <label for="comment">评论</label>
            <textarea id="comment" name="comment" cols="45" rows="8" maxlength="65525" required="required"></textarea>
        </p>
        <p class="comment-form-author">
            <label for="author">姓名 <span class="required">*</span></label>
            <input id="author" name="author" type="text" value="" size="30" maxlength="245" required='required' />
        </p>
        <p class="comment-form-email">
            <label for="email">电子邮件 <span class="required">*</span></label>
            <input id="email" name="email" type="text" value="" size="30" maxlength="100" aria-describedby="email-notes" required='required' />
        </p>
        <p class="form-submit">
            <input name="submit" type="submit" id="submit" class="submit" value="发表评论" />
            <input type='hidden' name='comment_post_ID' value='24567' id='comment_post_ID' />
            <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
        </p>
        <p style="display: none;">
            <input type="hidden" id="akismet_comment_nonce" name="akismet_comment_nonce" value="086480282b" />
        </p>
        <p style="display: none;">
            <input type="hidden" id="ak_js" name="ak_js" value="73"/>
        </p>
    </form>
</div>
        